<div class="item">
    <div>Avatar URL</div>
    <div><input type="url" name="avatar_url" placeholder="http://" value="{{ student.avatar_url }}"></div>
</div>
<div class="item">
    <div>Estudante</div>
    <div><input type="text" name="name" value="{{ student.name }}"></div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <div><input type="date" name="birth" value="{{ student.birth }}"></div>
</div>
<div class="item">
    <div>Email</div>
    <div><input type="date" name="email" value="{{ student.email }}"></div>
</div>
<div class="item">
    <div>Ano escolar</div>
    <select name="grade">
        <option value="medio" {% if student.education == 'medio' %} selected {% endif %} >Ensino médio completo</option> 
        <option value="superior" {% if student.education == 'superior' %} selected {% endif %} >Ensino superior completo</option>
        <option value="mestrado" {% if student.education == 'mestrado' %} selected {% endif %} >Mestrado</option>
        <option value="doutorado" {% if student.education == 'doutorado' %} selected {% endif %} >Doutorado</option>
    </select>
</div>
<div class="item">
    <div>Carga horária semanal</div>
    <div><input type="number" name="duration" value="{{ student.duration }}"></div>
</div>

<button type="submit">Salvar</button>