@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-primary: #3a8dda;
    --color-secondary: #F7DF1E;
    --color-link: #777;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--color-primary);
    font-family: 'Roboto', 'sans-serif';
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 18px;
}

.links a + a{
    margin-left: 32px;
}

.links a{
    text-decoration: none;
    color: var(--color-link);
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--color-primary);
}

.links a:hover {
    color: var(--color-primary);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/*==== CARD ====*/

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    /* sombra */
    /* box-shadow: eixo x, eixo y, blur, espalhamento , cor */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* animation */
    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* details */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    color: #777;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-primary);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--color-secondary);
    border-radius: 16px;
    color: var(--color-link);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}